{% extends 'base.html' %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='artist.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='album_songs.js') }}" ></script>
{% endblock %}

{% block page %}Albums{% endblock %}

{% block content %}

<div class='container-fluid'>
<div class='row'>
<div class='col-5 offset-1'>
    <div class='row align-items-end'>
        <div class='col-10'>
            </br>
            <h2><b>Album</b></h2>
        </div>
        <div class='col-2 text-center'>
            <h5><b>Score</b></h5>
        </div>
    </div>
    <div class='row'>
        {% for item in items %}
            <div class='col-10 bg-secondary text-white rounded border'>
                <h3><p class='album' id='{{ item.id }}'>{{ item.title }}<p></h3><br>
                <h5><p class='artist' id='albums,{{ item.artist.id }}'>By <u><i>{{ item.artist }}</i></u><p></h5>
            </div>
            <div class='col-2 bg-secondary text-white rounded border text-center'>
                </br>
                {% if item.mean_score() != None %}
                    <h5>{{ item.mean_score() }}</h5>
                {% else %}
                    <h5>N/A</h5>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class='col-4 offset-1' id='artist_table'>
</div>
</div>
</div>

{% endblock %}