{% extends 'base.html' %}

{% block page %}Change password{% endblock %}

{% block content %}

<form action="" method="post" name="login">
{{ form.hidden_tag() }}
<div class='container-fluid'>
<div class='row my-4'>
    <div class='col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 offset-0'>
        <h3><b>Old password</b></h3>
        {{ form.old(class_='form-control') }}
        {% for error in form.old.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>
</div>
<div class='row my-4'>
    <div class='col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 offset-0'>
        <h3><b>New password</b></h3>
        {{ form.new(class_='form-control') }}
        {% for error in form.new.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 offset-0">
        <input type="submit" class="btn btn-primary col-12" value="Login">
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-10 col-12 offset-lg-2 offset-md-1 offset-0">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
</div>
</form>

{% endblock %}