{% extends 'base.html' %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}" ></script>
	<script type="text/javascript" src="{{ url_for('static', filename='hover.js') }}" ></script>
{% endblock %}

{% block page %}My profile{% endblock %}

{% block content %}

<div class='container-fluid'>
<div class='row my-4'>
    <div class='col-lg-3 col-12'>
    <div class='row'>
        <div class='col-12'>
        <form action="" method="post" class='col-12 col-md-8 col-sm-10 offset-md-2 offset-sm-1'>
                <button type="submit" name="password" class="btn btn-info col-12">Change password</button>
        </form>
        </div>
        <div class='col-lg-12 col-md-6 col-12'>
        <h3 class="my-4"><center><b>Add album</b></center></h3>
        <form action="" method="post" name="add_album">
            {{ album_form.hidden_tag() }}
            <div class='container-fluid'>
                <div class='row py-1'>
                    <div class='col-12'>
                        {{ album_form.a_title(class_='form-control') }}
                        {% for error in album_form.a_title.errors %}
                        <div class="alert alert-danger" role="alert">
                            [{{ error }}]
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class='row py-1'>
                    <div class='col-12'>
                        {{ album_form.a_artist(class_='form-control') }}
                        {% for error in album_form.a_artist.errors %}
                        <div class="alert alert-danger" role="alert">
                            [{{ error }}]
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class='row py-1'>
                    <div class='col-12'>
                        {{ album_form.year(class_='form-control') }}
                    </div>
                    <div class='col-12'>
                        {% for error in album_form.year.errors %}
                        <div class="alert alert-danger" role="alert">
                            [{{ error }}]
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class='row py-1'>
                    <div class='col-6'>
                        {{ album_form.a_score(class_='form-control') }}
                    </div>
                    <div class="col-6">
                        {{ album_form.a_submit(class_='form-control btn btn-primary col-12') }}
                    </div>
                </div>
                <div class='row py-1'>
                    <div class='col-12'>
                        {% for error in album_form.a_score.errors %}
                        <div class="alert alert-danger" role="alert">
                            [{{ error }}]
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                {% with messages = get_flashed_messages() %}
                {% if (messages and album_form.a_submit.data) %}
                    <div class="col-12">
                        {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                </div>
            </div>
        </form>
        </div>
        </br>
        <div class='col-lg-12 col-md-6 col-12'>
        <h3><center><b>Add song</b></center></h3>
        <form action="" method="post" name="add_song">
            {{ song_form.hidden_tag() }}
            <div class='container-fluid'>
                <div class='row py-1'>
                    <div class='col-12'>
                        {{ song_form.s_title(class_='form-control') }}
                        {% for error in song_form.s_title.errors %}
                        <div class="alert alert-danger" role="alert">
                            [{{ error }}]
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class='row py-1'>
                    <div class='col-12'>
                        {{ song_form.s_artist(class_='form-control') }}
                        {% for error in song_form.s_artist.errors %}
                        <div class="alert alert-danger" role="alert">
                            [{{ error }}]
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class='row py-1'>
                    <div class='col-12'>
                        {{ song_form.album(class_='form-control') }}
                        {% for error in song_form.album.errors %}
                        <div class="alert alert-danger" role="alert">
                            [{{ error }}]
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row py-1">
                    <div class='col-6'>
                        {{ song_form.s_score(class_='form-control') }}
                    </div>
                    <div class="col-6">
                        {{ song_form.s_submit(class_='form-control btn btn-primary col-12') }}
                    </div>
                </div>
                <div class="row">
                    {% with messages = get_flashed_messages() %}
                    {% if (messages and song_form.s_submit.data) %}
                        <div class="col-12 py-1">
                            {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
    <form action="" method="post" class='col-lg-5 col-md-10 col-12 offset-lg-0 offset-md-1 my-lg-0 my-5'>
        <table class="table table-hover table-bordered">
            <div class='row'>
                <div class='col-7'>
                    <h3><b>My favorite albums</b></h3>
                </div>
                <div class='col-5'>
                    <button type="submit" name="album_button" value="delete" class="btn btn-danger col-12">Remove selected</button>
                </div>
            </div>
            <thead class="thead-light">
                {% if user.favorite_albums|length == 0 %}
                <tr>
                    <th scope="col"><center>No albums have been added yet</center></th>
                </tr>
                {% else %}
                <tr>
                    <th scope="col"></th>
                    <th scope="col"><center>Title</center></th>
                    <th scope="col"><center>Artist</center></th>
                    <th scope="col"><center>Release year</center></th>
                    <th scope="col"><center>Score</center></th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for album in user.favorite_albums %}
                <tr class="table", id="album,{{ album.album.id }}">
                    <td><input type="checkbox" name="album_id" , value="{{ album.album.id }}"></td>
                    <td align="center">{{ album.album.title }}</td>
                    <td align="center">{{ album.album.artist }}</td>
                    <td align="center">
                        {% if album.album.year_released != None %}{{ album.album.year_released }}{% endif %}
                    </td>
                    <td align="center" style="position: relative;">
                        {% if album.rating != None %}{{ album.rating }}{% endif %}
                        <p class="positioned" id="album{{ album.album.id }}"></p>
                        <a href="profile/edit" class="positioned d-sm-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 
                                1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 
                                2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 
                                1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 
                                0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 
                                1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 
                                0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <form action="" method="post" class='col-lg-4 col-md-10 col-12 offset-lg-0 offset-md-1 my-lg-0 my-5'>
        <table class="table table-hover table-bordered">
            <div class='row'>
                <div class='col-7'>
                    <h3><b>My favorite songs</b></h3>
                </div>
                <div class='col-5'>
                    <button type="submit" name="song_button" value="delete" class="btn btn-danger col-12">Remove selected</button>
                </div>
            </div>
            <thead class="thead-light">
                {% if user.favorite_songs|length == 0 %}
                <tr>
                    <th scope="col"><center>No Songs have been added yet</center></th>
                </tr>
                {% else %}
                <tr>
                    <th scope="col"></th>
                    <th scope="col"><center>Title</center></th>
                    <th scope="col"><center>Artist</center></th>
                    <th scope="col"><center>Album</center></th>
                    <th scope="col"><center>Score</center></th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for song in user.favorite_songs %}
                <tr class="table", id="song,{{ song.song.id }}">
                    <td><input type="checkbox" name="song_id" , value="{{ song.song.id }}"></td>
                    <td align="center">{{ song.song.title }}</td>
                    <td align="center">{{ song.song.artist }}</td>
                    <td align="center">
                        {% if song.song.album != None %}{{ song.song.album }}{% endif %}
                    </td>
                    <td align="center" style="position: relative;">
                        {% if song.rating != None %}{{ song.rating }}{% endif %}
                        <p class="positioned" id="song{{ song.song.id }}"></p>
                        <a href="profile/edit" class="positioned d-sm-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 
                                1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 
                                2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 
                                1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 
                                0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 
                                1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 
                                0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
</div>

{% endblock %}